{erl_opts, [debug_info]}.
{deps, [{nksip, {git, "https://github.com/netcomposer/nksip", {tag, "v0.6.0"}}},
        {enotify, "0.1.0"},
        {eper, "0.99.1"},
        {jsone, "1.5.0"},
        {lager, "3.2.4"},
        {goldrush, "0.1.9"},
        {meck, "0.8.13"},
        {mimerl, "1.2.0"},
        {parsexml, "1.0.0"},
        {recon, "2.5.0"},
        {rfc3339, "0.9.0"},
        {yamerl, "0.7.0"},
        {certifi, "2.4.2"},
        {parse_trans, "3.3.0"},
        {ssl_verify_fun, "1.1.4"}
       ]
}.

{shell, [
    {config, "sys.config"},
    {apps, [webrtp]}
]}.

